@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;

}

.App-logo {
 
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


#host{
  color:#34d399;
}

#receiver{
  color:#dc2626;
}

#your{
  color:#0891b2
}

#disabled-button{
background-color:#3f3f46
}

#enabled-button{
background-color:#065f46;
}


